---
import Base from "../layouts/Base.astro";
import MainButton from "../components/MainButton.astro";

const buttons = [
  { color: "blue", text: "Games" },
  { color: "green", text: "Apps" },
  { color: "red", text: "Articles" },
  { color: "yellow", text: "About" },
] as const;
---

<Base>
  <div class="max-w-md w-11/12 flex flex-col items-center gap-y-8 mt-16">
    {
      buttons.map(({ color, text }) => (
        <MainButton class="w-full" color={color}>
          {text}
        </MainButton>
      ))
    }
  </div>
</Base>
