---
import Logo from "../components/Logo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fail Quest</title>
    <style>
      @font-face {
        font-family: "segan";
        src: url("/fonts/segan.woff2") format("woff2");
      }
      * {
        font-family: "segan";
      }
    </style>
  </head>
  <body class="flex flex-col items-center justify-center p-4 bg-gray">
    <Logo />
    <slot />
  </body>
</html>
